.tooltip_content {
  background-color: var(--color-gray-dark-1);
  border-radius: 8px;
  color: var(--color-gray-dark-12);
  font-size: 13px;
  font-weight: 450;
  padding: 4px 8px;
}

.tooltip_content_positioner {
  isolation: isolate;
  z-index: 50;
}

:global(.dark) .tooltip_content {
  background-color: var(--color-gray-light-1);
  color: var(--color-gray-light-12);
}
