@theme {
  --color-primary: var(--color-primary-9);

  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);

  --color-border: var(--color-border);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
}
