.passcode_input {
  background-color: var(--color-bg-primary);
  border-radius: 14px;
  box-shadow: 0 0 0 1px var(--color-border) inset;
  color: var(--color-text-primary);
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  outline-color: var(--color-outline);
  outline-offset: -2px;
  outline-style: solid;
  outline-width: 0;
  text-align: center;
  transition-duration: 150ms;
  transition-property: box-shadow;
  width: 40px;
}

.passcode_input:enabled:hover {
  --color-border: var(--color-gray-6);
}

.passcode_input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.passcode_input:focus-visible {
  outline-width: 2px;
}
