/* ===================================================== */
/* Base */
/* ===================================================== */
.label {
  color: var(--color-gray-11);
  font-size: 13px;
  font-weight: 500;
  width: fit-content;
}
