body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  font-family: var(--font-sans);
}

@media (max-width: 768px) {
  body[data-is-app="true"] {
    background-color: var(--color-bg-primary);
  }
}

a,
button {
  outline-color: var(--color-outline);
  outline-offset: -2px;
  outline-style: solid;
  outline-width: 0;
}

a:focus-visible,
button:focus-visible {
  outline-width: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-primary);
  font-family: var(--font-display);
}
